@page
@model IndexModel

<head>
    <title>Início - Groove Gallery</title>
</head>
<body style="background-color: #ced4da;">
    <div class="container mt-5">
        <h1 class="display-4">Bem-vindo a Groove Gallery</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="text-left pr-4">
                    Groove Gallery é o seu destino definitivo para a música.
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-md-center">
            @foreach (var item in Model.ListaAlbum)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@item.ImagemUri" class="card-img-top" style="border-radius: 25px" alt="Imagem do Álbum">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">@item.Descricao</p>
                            <a class="btn btn-primary"
                               asp-page="/Details"
                               asp-route-id="@item.AlbumId"
                               asp-route-slug="@item.NomeSlug">Ver mais</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="my-4">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center">&copy; 2023 - GrooveGallery - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
